# Clear streams
VITE_CLEAR_DASH=https://dash.akamaized.net/akamai/bbb_30fps/bbb_30fps.mpd
VITE_CLEAR_HLS=https://test-streams.mux.dev/x36xhzz/x36xhzz.m3u8

# DRM (Widevine sample)
VITE_DRM_DASH=https://storage.googleapis.com/shaka-demo-assets/angel-one-widevine/dash.mpd
VITE_WV=https://cwip-shaka-proxy.appspot.com/no_auth
# VITE_PR=   # (optional) your PlayReady license URL

# Optional headers for license requests (JSON string)
VITE_DRM_HEADERS={"X-Custom":"demo"}

# Public demos (good for classroom)
VITE_LL_HLS=https://llhls-demo.ovenmediaengine.com/app/stream/llhls.m3u8
VITE_LL_DASH=https://demo.unified-streaming.com/k8s/live/stable/live-low-latency.isml/.mpd


# Repo info for the Lessons page
VITE_GH_REPO=molotskyb/FSVideoBootcamp
VITE_GH_BRANCH=main


# HLS DRM (FairPlay on Safari)
# Provide your own FPS-encrypted HLS and license endpoints
# VITE_FPS_HLS=
# VITE_FPS_CERT_URL=
# VITE_FPS_LICENSE_URL=
# VITE_DRM_HEADERS={}
