# Clear streams
VITE_CLEAR_DASH=https://dash.akamaized.net/akamai/bbb_30fps/bbb_30fps.mpd
VITE_CLEAR_HLS=https://test-streams.mux.dev/x36xhzz/x36xhzz.m3u8

# DRM (Widevine sample)
VITE_DRM_DASH=https://storage.googleapis.com/shaka-demo-assets/angel-one-widevine/dash.mpd
VITE_WV=https://cwip-shaka-proxy.appspot.com/no_auth
# VITE_PR=   # (optional) your PlayReady license URL

# Optional headers for license requests (JSON string)
VITE_DRM_HEADERS={"X-Custom":"demo"}

# Repo info for the Lessons page
VITE_GH_REPO=molotskyb/FSVideoBootcamp
VITE_GH_BRANCH=main
